.content {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .contact-list {
    height: calc(100vh - 19.1rem);
    overflow: scroll;

    .list-item {
      padding: 2rem;
      padding-right: 0;
      border-bottom: 1px solid $clr-secondary;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $clr-secondary;
      }

      .img-wrap {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: relative;

        .contact-img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: $fs-h5;
          color: $clr-ntrl-min;
        }
      }

      .info-wrap {
        margin-left: 1rem;
        width: calc(100% - 7rem);

        .contact-name {
          font-size: $fs-milli;
          font-weight: 600;
        }
        .contact-desc {
          color: $clr-gray;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .contact-view {
    text-align: center;

    .no-contact-selected {
      .img-wrap {
        max-width: 80rem;
        margin: 0 auto;
      }
      .info-wrap p {
        font-family: $ff-alt-beta;
        margin: 0 auto;
        margin-top: -5rem;
        width: 50%;
        color: $clr-gray;
        font-size: $fs-h2;
      }
    }
  }
}

.not-found {
  height: 100vh;
  text-align: center;

  .img-wrap {
    max-width: 80rem;
    margin: 0 auto;
    margin-bottom: -5rem;

    @media only screen and (max-width: $media-sm) {
      margin-bottom: 0;
    }
  }
  .info-wrap p {
    font-family: $ff-alt-beta;
    width: 100%;
    color: $clr-gray;
    font-size: $fs-h2;

    @media only screen and (max-width: $media-sm) {
      font-size: $fs-h4;
    }

    a {
      color: $clr-primary;
      font-weight: bold;
    }
  }
}

.send-message {
  .modal-content {
    border: none;
    border-radius: 1rem;
  }

  .modal-header {
    padding: 2rem;
  }

  .modal-body {
    padding: 4rem 2rem;
    font-size: $fs-milli;

    textarea {
      margin-top: 2rem;
      padding: 1rem;
      height: 8rem;
      width: 100%;
      border: none;
      background-color: $clr-secondary-dk;
      border-radius: 1rem;
    }
  }

  .modal-footer {
    border: none;
    justify-content: center;
    padding-bottom: 2rem;

    button.send {
      background-color: $clr-primary;
      border: none;
      outline: none;
      color: $clr-ntrl-min;
      padding: 0.7rem 8rem;
      border-radius: 0.5rem;
      font-size: $fs-milli;
    }
  }
}
