@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

/* font-family */
$ff-base: "Montserrat", sans-serif;
$ff-alt-alpha: "Averia Serif Libre", cursive;
$ff-alt-beta: "Jost", sans-serif;

/* base font size - applied at body / html level */
$fs-base: 1.6rem;
$fs-icons: 2rem;

/* heading font-sizes */
$fs-h1: 3.6rem;
$fs-h2: 3.2rem;
$fs-h3: 2.8rem;
$fs-h4: 2.4rem;
$fs-h5: 2rem;
$fs-h6: 1.8rem;

/* smaller than heading font sizes */
$fs-milli: 1.4rem;
$fs-micro: 1.2rem;
$fs-nano: 1rem;
